aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.2
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
Bottleneck
Brotli
cachetools==5.4.0
certifi
charset-normalizer
click==8.1.7
cloudpickle==3.0.0
colorlog==6.8.2
comm==0.2.2
contourpy
coreforecast==0.0.12
cycler
debugpy==1.8.2
decorator==5.1.1
dm-tree==0.1.8
exceptiongroup==1.2.2
executing==2.0.1
Farama-Notifications==0.0.4
filelock
fonttools
frozenlist==1.4.1
fsspec==2024.6.1
gmpy2
google-auth==2.33.0
greenlet==3.0.3
gymnasium==0.29.1
idna
ipykernel==6.29.5
ipython==8.26.0
jedi==0.19.1
Jinja2
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver
kubernetes==30.1.0
lightning-utilities==0.11.6
lz4==4.3.3
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
msgpack==1.0.8
multidict==6.0.5
nest-asyncio==1.6.0
networkx
neuralforecast==1.7.3
numexpr
numpy
oauthlib==3.2.2
opencv-python==4.10.0.84
optuna==3.6.1
packaging
pandas
parso==0.8.4
pexpect==4.9.0
pillow
platformdirs==4.2.2
ply==3.11
prompt_toolkit==3.0.47
protobuf==5.27.2
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
Pygments==2.18.0
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil==2.8.2
pytorch-lightning==2.3.3
pytz
PyYAML
pyzmq==26.0.3
ray==2.32.0
referencing==0.35.1
requests
requests-oauthlib==2.0.0
rich==13.7.1
rpds-py==0.19.0
rsa==4.9
scikit-learn==1.5.1
scipy==1.14.0
shellingham==1.5.4
sip
six
SQLAlchemy==2.0.31
stack-data==0.6.3
sympy
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
tomli
torch==2.4.0
torchaudio==2.4.0
torchmetrics==1.4.0.post0
torchvision==0.19.0
tornado
tqdm==4.66.4
traitlets==5.14.3
typer==0.12.3
typing_extensions
tzdata==2023.3
unicodedata2
urllib3
utilsforecast==0.2.0
wcwidth==0.2.13
websocket-client==1.8.0
yarl==1.9.4
